body{
    font-family: Arial, sans-serif;
    margin: 0;
}
header{
    font-size: 30px;
    text-align: center;
    background-color: darkblue;
    color: white;
    padding: 10px;
}
/* #space{
    gap: 50px;
    padding: 100px;
} */
.container1{
      display: flex;
      flex-wrap: wrap;
      padding: 30px;
      background-color: antiquewhite;
      width: 100%;
      height: 230px;
      margin: 0;
    }

.box{
      background-color: #f2f2f2;
      flex: 1 1 300px;
      padding: 20px;
      border-radius: 10px;
      width: 20%;
      height: 190px;

    }

.box:hover{
    color:red;
    font-size: large;

}

.container1{
      display: flex;
      flex-wrap: wrap;
      padding: 2px;
      background-color: antiquewhite;
      width: 100%;
      height: 230px;
      margin: 0;

    }

.box1{
      background-color: #f2f2f2;
      flex: 1 1 300px;
      padding: 20px;
      border-radius: 10px;
      width: 20%;
      height: 190px;

    }

.box1:hover{
    color:red;
    font-size: large;

}


img{
    border-radius: 10px;
}
div{
    font-size: 20px;
}
footer{
    background-color: #0078d7;
    color: white;
    text-align: center;
    padding: 10px;

}
.footer_button{
    font-size: large;

}
.foot{
    font-size: 20px;
}

.ORDERNOW{
    font-size: 20px;
}
.ORDERNOW:hover{
    color: red;
}
iframe{
    width: 100%;
}
.map{
    color: red;
    font-size: 20px;
    background-color: yellow;
    text-align: center;
    margin-left: 40%;
    width: 300px;
    border-radius: 5px;

}
.map:hover{
    color: yellow;
    background-color: red;
    font-size: 22px;
    border-radius: 5px;
}